{{ define "main" }}
  {{ partial "page-header" . }}


  <section class="section">
    <div class="container">
      <ul class="text-center">
        {{ range .RegularPages }}
          {{ $pageURL := .RelPermalink | replaceRE `\.html/$` `.html` }}
          <li class="m-3">
            <a
              href="{{ $pageURL }}"
              class="text-text-dark dark:text-darkmode-text-dark block text-xl">
              {{ .Title }}
            </a>
          </li>
        {{ end }}
      </ul>
    </div>
  </section>
{{ end }}
